@font-face {
  font-family: "Baron Neue";
  src: url("./Baron_Neue/Baron\ Neue\ Bold.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./Roboto/Roboto-Regular.ttf) format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lato-regular";
  src: url(./Lato/Lato-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Lato-Bold";
  src: url(./Lato/Lato-Bold.woff2) format("opentype");
  font-weight: 700;
  font-style: normal;
}
