@import url("../../styles/variables.css");

.header {
  padding-top: var(--title-padding-top);
  padding-bottom: 60px;
  padding-inline: var(--padding-inline);
  outline: var(--outline);

  &__title {
    color: var(--text-color-black);
    font-family: "Baron Neue";
    font-size: var(--title-font-size);
    line-height: 44px;
    // text-transform: uppercase;
    width: 46%;
  }
}

// @media (max-width: 1400px) {
// }
@media (max-width: 1200px) {
  .header {
    &__title {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 50px;
    &__title {
      width: 80%;
    }
  }
}

@media (max-width: 470px) {
  .header {
    padding-bottom: 40px;
    &__title {
      width: 90%;
    }
  }
}
